.time_text, .message-filter__link {
    position: relative;
}

.edit-time, .edit-type {
    border-bottom: 1px dashed;
    cursor: pointer;
}

.time-wrapper, .type-wrapper {
    display: none;
    width: 440px;
    background: #fff;
    padding: 5px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    top: 30px;
    left: 0;
    z-index: 10;
}

.type-wrapper {
    width: 254px;
}

.time-save,
.time-calendar {
    display: block;
}

.time-save {
    margin-top: 10px;
}

.time-calendar .datepicker,
.time-calendar .timepicker {
    float: left;
    width: 220px;
}

a.green_btn_red {
    background: #e35757;
}

.time_text.time_text_loader {
    background-image: url("images/loader.gif");
}

.message-filter__link.time_text_loader {
    background: url("images/loader.gif") no-repeat center;
}

.message-filter {
    margin: 10px 0 18px -3px;
}

.message-filter__link {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 3px;
    background-color: rgba(0, 0, 0, .05);
    text-decoration: none;
}

.message-filter__link:hover {
    text-decoration: none;
}

.message-filter__link_active {
    background-color: transparent;
    font-weight: bold;
}

.request_who_files_date_label {
    margin-top: -5px;
    margin-right: 10px;

}

.request_who_files {
    background-color: #e9e9e9;
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
}

#MESSAGE_TYPE_POPUP {
    margin-bottom: 20px;
}