@font-face {
  font-family: 'Roboto';
  src: url('roboto/roboto-400-normal.woff2') format('woff2'), url('roboto/roboto-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('roboto/roboto-700-normal.woff2') format('woff2'), url('roboto/roboto-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Intro';
  src: url('intro/intro-regular-webfont.woff2') format('woff2'), url('intro/intro-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Intro';
  src: url('intro/intro-bold-webfont.woff2') format('woff2'), url('intro/intro-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Bold Caps';
  src: url('intro/intro-bold-caps-webfont.woff2') format('woff2'), url('intro/intro-bold-caps-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Black Caps';
  src: url('intro/intro-black-caps-webfont.woff2') format('woff2'), url('intro/intro-black-caps-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Cond';
  src: url('intro/intro_cond_black_free-webfont.woff2') format('woff2'), url('intro/intro_cond_black_free-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Regular Caps';
  src: url('intro/Intro-Regular-Caps.woff2') format('woff2'), url('intro/Intro-Regular-Caps.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Bold';
  src: url('intro/Intro-Bold.woff2') format('woff2'), url('intro/Intro-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Intro Black Alt';
  src: url('intro/Intro-Black-Alt.woff2') format('woff2'), url('intro/Intro-Black-Alt.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
